* {
  font-family: monospace;
  color:#2bbd33;
  background:black;
  box-sizing: border-box;
  margin:0 auto;
  width: 600px;
  text-align:center;
  
}
#imagen2{
  width: 120px;
  height: auto;
}
#imagen{
    width: 100%;
    height: auto;
    filter: contrast(1000%);
    margin:0 auto;
  
  }
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    
    color:#1e7322;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
  }
.container{
  display:block;

  }
.contanier.show{
  display:none;
  }

#offSet{
  width: 80px;
  height: 40px;
  padding: 20px;
  font-size:18px;
  background: #000;
  color: hsla(120, 18%, 93%, 0.959);
  border: 2px solid #1e7322;
}

 
h1 {
  font-size:80px;
  font-family:'Righteous';
  text-shadow: 10px 10px 10px white;
 
}

label {
  font-size: 18px;
  text-align: left;
  color: hsla(120, 18%, 93%, 0.959);
}

.in { 
 
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size:20px;
  background: #000;
  color: #2bbd33;
  border: 2px solid #1e7322;
}


.boton {
  width: 150px;
  font-size:20px;
  font-family:'Righteous', cursive;
  text-align: center ;
  height: 50px;
  border-radius: 10px;
  padding: 5px;
  background: #2bbd33;
  color: white;
  display: inline-block;
} 