* {
  font-family: monospace;
  
  background:black;
  box-sizing: border-box;
  margin:0 auto;
  width: 90%;
  text-align:center;
  
}


p{
  color:rgb(136, 255, 0);
  font-size:70px;
  font-family:'Righteous';
 
  text-align:center;
  margin:0 auto;
 
  
}
body{
  background:palegreen;
  width: 60%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 15px;
}
#imagen3{
    width: 60%;
    height: auto;
    padding-top: 10%;
    padding-bottom: 30%;
    filter:contrast(200%);
    
}
#instrucciones{
  font-size: 20px;
  color: #89d3f3;
}
#instr{
  width: 100%;
  height: 0 auto;
  color:white;
  padding-top: 12%;
} 
#backimg{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  }
#imagen2{
  width: 120px;
  height: auto;
}
#imagen{
  width: 90%;
  height: auto;
  padding-top: 15%;
  filter:contrast(200%);

  }
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color:#1e7322;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
  }
.container{
  display:block;

  }
  
  .container1{
    background:black;
    padding-bottom: 15%;
    width: 80%;
  
    }

#offSet{
  width: 80px;
  height: 40px;
  padding: 20px;
  font-size:18px;
  background: #000;
  color: hsla(120, 18%, 93%, 0.959);
  border: 2px solid #1e7322;
}

 
h1 {
  
  color:rgb(136, 255, 0);
  font-size:80px;
  font-family:'Righteous';
  text-shadow: 10px 10px 10px #2189b3b9;
  text-align:center;
  margin:0 auto;
}
#inicio {
  font-size:80px;
  font-family:'Righteous';
  text-shadow: 10px 10px 10px white;
 
}

label {
  font-size: 18px;
  text-align: left;
  color: hsla(120, 18%, 93%, 0.959);
}

.in { 
 
  width: 80%;
  height: 80px;
  padding: 10px;
  font-size:20px;
  background: #000;
  color: #2bbd33;
  border: 2px solid #1e7322;
}
#writeText1::placeholder,
#writeText1::-webkit-input-
placeholder{
  color:white;
  font-size:10px;
}


.boton {
  width: 150px;
  font-size:18px;
  text-align: center ;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  background: #2189b3b9;
  color:white;
  display:inline-block;
} 