* {
  font-family: monospace;
  color: #2bbd33;
  background:black;
  box-sizing: border-box;
  margin:0 auto;
  width: 300px;
  text-align:center;
};

h1 {
  font-size:100px;
 
};
label {
  display: inline-block;
  width: 90px;
  text-align: right;
};
.in { 
  display: block;
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size:px;
  background: #000;
  color: #2bbd33;
  border: 2px solid #1e7322;
};
#offset {
  width: 20px;
  height: 50px;
  padding: 80px;
  font-size:16px;
  background: #000;
  color: #2bbd33;
  border: 2px solid #1e7322;
};
.boton {
  width: 500px;
  margin: 400px auto;
  padding: 1em 0;
  text-align: center ;
  position: relative;
  border: none;
  overflow: hidden;
  z-index: 1;
  outline:none;

};






